.leftChartBlock {
	display: grid;

	width: 100%;
	height: 100%;
	grid-template-rows: repeat(4, auto) 1fr;
	justify-items: left;
	gap: 12px;
	grid-area: leftChartBlock;
	align-self: start;
}

.title {
	color: var(--textLight);

	font-weight: 700;
}

.price {
	color: var(--white);

	font-weight: 600;
}

.checkDiv {
	display: grid;

	width: 100%;
	margin: 20px 0;
	justify-items: left;
	gap: 24px;
}

.checkText {
	display: grid;
	align-items: center;

	color: var(--white);

	font-weight: 700;
	line-height: 24px;
	grid-template-columns: auto 1fr;
	gap: 12px;
}

.checkText > svg {
	width: 18px;
	fill: var(--white);
}

.featuresDiv {
	display: grid;

	width: 100%;
	margin-top: 8px;
	justify-items: left;
	gap: 10px;
}

.featuresText {
	color: var(--white);

	font-weight: 500;
}

.chartImage {
	width: 70%;
	height: fit-content;
	object-fit: cover;
	margin-top: 80px;
	align-self: end;
}

@media (max-width: 1024px) {
	.chartImage {
		width: 40%;
		margin-top: 40px;
	}

	.checkDiv {
		gap: 20px;

		margin: 16px 0;
	}

	.checkText {
		gap: 10px;
	}

	.checkText > svg {
		width: 16px;
	}
}

@media (max-width: 580px) {
	.chartImage {
		width: 90%;
		margin-top: 40px;
	}

	.checkDiv {
		gap: 18px;

		margin: 14px 0;
	}

	.checkText {
		gap: 8px;
	}

	.checkText > svg {
		width: 14px;
	}

	.featuresDiv {
		gap: 8px;

		margin-top: 6px;
	}
}
