.footer {
	display: grid;

	width: calc(100% - 40px);
	padding: 80px 20px;

	border-top: 1px solid var(--light);
	justify-items: center;
	gap: 40px;
}

.footerText {
	text-align: center;

	font-weight: 600 !important;
}
