html,
body {
	margin: 0;
	padding: 0;

	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;

	background: var(--white);

	font-family: 'Manrope', sans-serif;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}

::-moz-focus-outer,
::-moz-focus-inner {
	padding: 0;

	border: 0;
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

::-webkit-scrollbar-track {
	background-color: var(--background);
}

::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background-color: var(--primary);
}

a {
	text-decoration: none;
}

@media (max-width: 480px) {
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
}

:root {
	--primary: #0096FF;
	--white: #FFF;
	--black: #000;
	--dark: #202426;
	--light: #F1F1F1;
	--darkLight: #E5E5E5;
	--glow1: #00ACFF;
	--glow2: #6201FF;
	--glow3: #FF5C01;
	--textLight: #80CBFF;
	--chartBg: #001925;
	--chartBtn: #0081D8;
	--chartText: #00557D;
	--chartBar: #01ACFF;
	--chartDate: #6E6E6E;
	--error: #FF1500;
	--banana: #FFC803;
	--font-family: 'Manrope', sans-serif;
}
