.gameBlock {
	position: relative;

	display: grid;
	overflow: hidden;

	width: 100%;
	padding: 40px 0;

	background: var(--dark);
	justify-items: center;
}

.glow1,
.glow2 {
	position: absolute;
	z-index: 1;
	filter: blur(70px);
}

.glow1 {
	top: -15%;
	left: -10%;

	height: 82%;
	fill: var(--glow2);
}

.glow2 {
	right: 5%;
	bottom: -10%;

	width: 30%;
	height: 55%;
	fill: var(--glow3);
}

.gameDiv {
	z-index: 2;

	display: grid;
	align-items: center;

	width: 70%;
	justify-items: right;
	gap: 120px;
	grid-template-columns: 1fr 324px;
}

.gameImageDiv {
	position: relative;

	display: grid;

	width: 100%;
	height: 100%;
}

.gameImage1,
.gameImage2 {
	position: absolute;
	z-index: 0;

	overflow: hidden;

	width: fit-content;
	object-fit: cover;
}

.gameImage1 {
	top: 0;
	left: -10%;

	height: 500px;
}

.gameImage2 {
	bottom: 0;
	left: -30%;

	height: 400px;
}

@media (max-width: 1400px) {
	.gameDiv {
		width: 80%;
	}

	.glow1 {
		top: -20%;
		left: -15%;

		height: 75%;
	}

	.glow2 {
		right: 3%;
		bottom: -8%;

		height: 40%;
	}

	.gameImage1 {
		top: 10%;
		left: 0;

		height: 400px;
	}

	.gameImage2 {
		bottom: 5%;
		left: -10%;

		height: 300px;
	}
}

@media (max-width: 1240px) {
	.glow2 {
		bottom: -5%;
	}

	.gameImage2 {
		bottom: 10%;
		left: -10%;
	}
}

@media (max-width: 1024px) {
	.gameBlock {
		padding-top: 10px;
	}

	.gameDiv {
		width: 90%;
		grid-template-columns: auto;
		gap: 20px;
	}

	.glow1 {
		top: -40%;
		left: 50%;

		width: 110%;
		height: fit-content;

		transform: translateX(-50%);
	}

	.glow2 {
		right: 8%;
		bottom: -20%;

		width: 40%;
		height: 70%;
	}

	.gameImageDiv {
		height: 500px;
	}

	.gameImage1 {
		top: -10%;
		left: 0;

		width: 110%;
		height: fit-content;
	}

	.gameImage2 {
		bottom: -5%;
		left: 10%;

		height: 300px;
	}
}

@media (max-width: 800px) {
	.glow1 {
		top: -30%;
	}

	.glow2 {
		bottom: -25%;

		width: 50%;
	}
}

@media (max-width: 580px) {
	.gameBlock {
		padding-top: 0;
	}

	.gameDiv {
		gap: 0;
	}

	.glow1 {
		top: -20%;

		width: 120%;
	}

	.glow2 {
		right: 0;
		bottom: -25%;

		width: 70%;
		height: 70%;
	}

	.gameImageDiv {
		height: 600px;
	}

	.gameImage1 {
		top: 5%;
		left: -15%;

		width: 150%;
	}

	.gameImage2 {
		bottom: 5%;
		left: 10%;

		height: 250px;
	}
}

@media (max-width: 400px) {
	.glow1 {
		top: -15%;

		width: 130%;
	}

	.glow2 {
		right: -10%;
		bottom: -25%;

		width: 70%;
		height: 70%;
	}

	.gameImageDiv {
		height: 550px;
	}

	.gameImage1 {
		top: 0;
		left: -40%;

		width: 200%;
	}

	.gameImage2 {
		bottom: 0;
		left: 0;

		height: 250px;
	}
}
