.xxxl,
.xxl,
.xl,
.l,
.m,
.s {
	width: fit-content;
	margin: 0;

	color: var(--black);

	font-weight: 400;
	font-style: normal;
	line-height: normal;
}

.xxxl {
	font-size: 124px;
	line-height: 124px;
}

.xxl {
	font-size: 50px;
	line-height: 60px !important;
}

.xl {
	font-size: 30px;
}

.l {
	font-size: 20px;
}

.m {
	font-size: 16px;
	line-height: 24px;
}

.s {
	font-size: 14px;
}

@media (max-width: 1024px) {
	.xxxl {
		font-size: 112px;
		line-height: 112px;
	}

	.xxl {
		font-size: 40px;
		line-height: 50px !important;
	}

	.xl {
		font-size: 24px;
	}

	.l {
		font-size: 18px;
	}

	.m {
		font-size: 15px;
		line-height: 22px;
	}
}

@media (max-width: 800px) {
	.xl {
		font-size: 22px;
	}
}

@media (max-width: 580px) {
	.xxxl {
		font-size: 100px;
		line-height: 100px;
	}

	.xxl {
		font-size: 28px;
		line-height: 38px !important;
	}

	.xl {
		font-size: 20px;
	}

	.l {
		font-size: 16px;
	}

	.m {
		font-size: 14px;
		line-height: 20px;
	}
}
