.textBlock {
	display: grid;
	gap: 20px;

	margin: 160px 0;
}

.whiteTextBlock h1 {
	color: var(--white) !important;
}

.title {
	margin-bottom: 20px;

	font-weight: 600;
}

.buttonsDiv {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;

	margin-top: 20px;
}

.button {
	width: 100%;
}

@media (max-width: 1240px) {
	.buttonsDiv {
		grid-template-columns: auto;
	}
}

@media (max-width: 1024px) {
	.textBlock {
		margin: 40px 0;
	}
}
